<html	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"> 
	
	<f:section name="col1">
        <div class="
            {f:if(condition: data.flexform_Col1,         then: '{data.flexform_Col1}')} 
            {f:if(condition: data.flexform_smCol1,       then: '{data.flexform_smCol1}')} 
            {f:if(condition: data.flexform_mdCol1,       then: '{data.flexform_mdCol1}')} 
            {f:if(condition: data.flexform_lgCol1,       then: '{data.flexform_lgCol1}')} 
            {f:if(condition: data.flexform_xlCol1,       then: '{data.flexform_xlCol1}')} 
            {f:if(condition: data.flexform_xxlCol1,      then: '{data.flexform_xxlCol1}')} 
            {f:if(condition: data.flexform_col21class,   then: '{data.flexform_col21class }')}
            ">
                    {data.tx_gridelements_view_column_101->f:format.raw()}
        </div>
	</f:section>
	
	<f:section name="col2">
        <div class="
             {f:if(condition: data.flexform_Col2,         then: '{data.flexform_Col2}')} 
             {f:if(condition: data.flexform_smCol2,       then: '{data.flexform_smCol2}')} 
             {f:if(condition: data.flexform_mdCol2,       then: '{data.flexform_mdCol2}')} 
             {f:if(condition: data.flexform_lgCol2,       then: '{data.flexform_lgCol2}')} 
             {f:if(condition: data.flexform_xlCol2,       then: '{data.flexform_xlCol2}')} 
             {f:if(condition: data.flexform_xxlCol1,      then: '{data.flexform_xxlCol2}')} 
             {f:if(condition: data.flexform_col22class,   then: '{data.flexform_col22class }')}
             ">
                    {data.tx_gridelements_view_column_102->f:format.raw()}
        </div>
	</f:section>
	
	<f:section name="col3">
        <div class="
            {f:if(condition: data.flexform_Col3,         then: '{data.flexform_Col3}')} 
            {f:if(condition: data.flexform_smCol3,       then: '{data.flexform_smCol3}')} 
            {f:if(condition: data.flexform_mdCol3,       then: '{data.flexform_mdCol3}')} 
            {f:if(condition: data.flexform_lgCol3,       then: '{data.flexform_lgCol3}')} 
            {f:if(condition: data.flexform_xlCol3,       then: '{data.flexform_xlCol3}')} 
            {f:if(condition: data.flexform_xxlCol3,      then: '{data.flexform_xxlCol3}')} 
            {f:if(condition: data.flexform_col31class,   then: '{data.flexform_col31class }')}
            ">
                    {data.tx_gridelements_view_column_101->f:format.raw()}
        </div>
	</f:section>
	
	<f:section name="col4">
        <div class="
             {f:if(condition: data.flexform_Col4,         then: '{data.flexform_Col4}')} 
             {f:if(condition: data.flexform_smCol4,       then: '{data.flexform_smCol4}')} 
             {f:if(condition: data.flexform_mdCol4,       then: '{data.flexform_mdCol4}')} 
             {f:if(condition: data.flexform_lgCol4,       then: '{data.flexform_lgCol4}')} 
             {f:if(condition: data.flexform_xlCol4,       then: '{data.flexform_xlCol4}')} 
             {f:if(condition: data.flexform_xxlCol4,      then: '{data.flexform_xxlCol4}')} 
             {f:if(condition: data.flexform_col42class,   then: '{data.flexform_col42class }')}
             ">
                    {data.tx_gridelements_view_column_102->f:format.raw()}
        </div>
	</f:section>
	
</html>
