<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="Default"/>

    <f:section name="Main">
        <f:if condition="{children}">
            <f:if condition="{data.container}">
                <f:then>
                    <div class="container">
                        <f:render section="accordion" arguments="{_all}"/>     
                    </div>
                </f:then>
                <f:else>
                    <f:render section="accordion" arguments="{_all}"/>   
                </f:else>
            </f:if>
        </f:if> 
    </f:section>

	<f:section name="accordion">
	        <div id="accordion-{f:if(condition:data._LOCALIZED_UID, then:data._LOCALIZED_UID, else:data.uid)}"  class="t3up_accordion accordion accordion-flush accordionstyle-{bootstrapaccordion}">
	            <f:for each="{children}" as="columns" key="rowNumber">
	                <f:if condition="{columns.101}">
	                    <f:for each="{columns.101}" as="child" iteration="iteration">
	                    
							<f:if condition="{data.flexform_style} == 'accordion-v1'">
							  <div class="accordion-item">
							    <div class="accordion-header" id="heading-c{child.data.uid}">
							      <a 	href="#collapse-{child.data.uid}"
							      		class="accordion-button collapsed" 
							      		type="button" 
							      		data-bs-toggle="collapse" 
							      		data-bs-target="#collapse-{child.data.uid}" 
							      		data-toggle="collapse"
							      		data-target="#collapse-{child.data.uid}" 
							      		aria-expanded="false" 
							      		aria-controls="collapse-{child.data.uid}"
							      		>
							         {child.data.header} 
							      </a>
							    </div>
							    <div 	id="collapse-{child.data.uid}" 
							    		class="accordion-collapse collapse" 
							    		aria-labelledby="heading-c{child.data.uid}"  
							    		data-parent="#accordion-{f:if(condition:data._LOCALIZED_UID, then:data._LOCALIZED_UID, else:data.uid)}"
							    		data-bs-parent="#accordion-{f:if(condition:data._LOCALIZED_UID, then:data._LOCALIZED_UID, else:data.uid)}"
							    		>
							      <div class="accordion-body">
			                         <f:render partial="Child" arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
							      </div>
							    </div>
							  </div>
							</f:if>
							
							<f:if condition="{data.flexform_style} == 'accordion-v2'">
							  <div class="accordion-item">
							    <div class="accordion-header" id="heading-c{child.data.uid}">
							      <a 	href="#collapse-{child.data.uid}"
							      		class="accordion-button {f:if(condition: '{iteration.index} == 0', then: '', else: 'collapsed')}" 
							      		type="button" 
							      		data-bs-toggle="collapse" 
							      		data-bs-target="#collapse-{child.data.uid}" 
							      		data-toggle="collapse"
							      		data-target="#collapse-{child.data.uid}" 
							      		aria-expanded="false" 
							      		aria-controls="collapse-{child.data.uid}"
							      		>
							         {child.data.header} 
							      </a>
							    </div>
							    <div 	id="collapse-{child.data.uid}" 
							    		class="accordion-collapse collapse {f:if(condition: '{iteration.index} == 0', then: 'show', else: '')}"
							    		aria-labelledby="heading-c{child.data.uid}"  
							    		data-parent="#accordion-{f:if(condition:data._LOCALIZED_UID, then:data._LOCALIZED_UID, else:data.uid)}"
							    		data-bs-parent="#accordion-{f:if(condition:data._LOCALIZED_UID, then:data._LOCALIZED_UID, else:data.uid)}"
							    		>
							      <div class="accordion-body">
			                         <f:render partial="Child" arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
							      </div>
							    </div>
							  </div>
							</f:if>		

							<f:if condition="{data.flexform_style} == 'accordion-v3'">
							  <div class="accordion-item">
							    <div class="accordion-header" id="heading-c{child.data.uid}">
							      <a 	href="#collapse-{child.data.uid}"
							      		class="accordion-button collapsed" 
							      		type="button" 
							      		data-bs-toggle="collapse" 
							      		data-bs-target="#collapse-{child.data.uid}" 
							      		data-toggle="collapse"
							      		data-target="#collapse-{child.data.uid}" 
							      		aria-expanded="false" 
							      		aria-controls="collapse-{child.data.uid}"
							      		>
							         {child.data.header} 
							      </a>
							    </div>
							    <div 	id="collapse-{child.data.uid}" 
							    		class="accordion-collapse collapse" 
							    		aria-labelledby="heading-c{child.data.uid}"  
							    		>
							      <div class="accordion-body">
			                         <f:render partial="Child" arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
							      </div>
							    </div>
							  </div>
							</f:if>

 						</f:for>
					 </f:if>
	            </f:for>
	        </div>
	</f:section>
</html>
